.title {
  position: absolute;
  left: 1.82%;
  right: 86.37%;
  top: 2.29%;
  bottom: 93.43%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #2dbdb1;
}

.main {
  position: relative;
  width: 1152px;
  height: 700px;

  background: #f3fff9;
}

.fireworks {
  position: absolute;
  width: 93px;
  height: 93px;
  left: 527px;
  top: 253px;
}

.done-text {
  position: absolute;
  width: 305px;
  height: 39px;
  left: 421px;
  top: 367px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #2dbdb1;
}

.dashboard-text {
  position: absolute;
  width: 339px;
  height: 31px;
  left: 406px;
  top: 416px;

  font-family: Sanchez;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */

  color: #2dbdb1;
}
